.input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
input {
    width: 100%;
    max-width: 150px;
    margin: 3px auto;
}

.send-btn {
    display: inline;
    margin-right: 5px;
    margin-top: 15px;
}
.form {
    display: none;
}
.formopen {
    display: block;
}
.btns-wrap {
    max-width: 158px;
    margin: 0 auto ;
    
}
