form {
    /* background-color: aqua; */
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
    display: none;
}
input {
    margin-bottom: 10px;
}

.formopen {
    display: flex;
}
.btn-add {
    display: block;
    margin: 0 auto 10px;
}
button {
    margin-bottom: 10px;
}